.main {
    width: 100%;
    height: 100%;
    /* display: flex; */
    align-items: center;
    justify-content: center;
}

.block {
    box-sizing: border-box;
    min-width: 509px;
    background: rgba(231, 231, 231, 0.9);
    backdrop-filter: blur(0.8px);
    border-radius: 16px;
    padding: 32px 32px;
    margin: 25px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    border-color: black;
    border-style: solid;
    border-width: 2px;
} 

.label1 {
    width: 100%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    align-items: center;
    justify-content: center;
}

.title {
    text-align: center;
    width: 100%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
}

.input {
    font-size: 8px;
}

.button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    background: #407BFF;
    border-radius: 8px;
    width: 160px;
}

.button:hover {
    cursor: pointer;
}

.avatar {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}



