.main {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../../assets/images/signupPageBg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.form {
    box-sizing: border-box;
    min-width: 409px;
    background: rgba(235, 235, 235, 0.75);
    backdrop-filter: blur(0.5px);
    border-radius: 16px;
    padding: 0 32px;
}

.title {
    text-align: center;
    width: 100%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
}

.input {
    font-size: 8px;
}

.button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    background: #407BFF;
    border-radius: 8px;
}

.button:hover {
    cursor: pointer;
}

.button:disabled {
    cursor: default;
    background: #89acf7;
    outline: none;
    border: none;
    color: rgb(219, 228, 253)
}

.link {
    display: block;
    margin-top: 12px;
    width: 100%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #407BFF;
    opacity: 1;
    transition: opacity .2s linear;
    text-align: center;
}

.link:hover {
    opacity: .7;
    color: #407BFF;
}