.wrapper {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        margin: 0;
        margin-bottom: 64px;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: var(--text-black);
    }

    &__link {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 15px;
        text-decoration: none;
        color: var(--text-blue);
    }
}
